body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

.orange_color {
    color: orange;
}

.flexible_container {
    display: flex;
    margin-bottom: 100px;

}

.header_left {
    width: 50%;
    padding-left: 7%;
}

.header_left p {
    text-align: justify;
}

.header_right {
    width: 50%;
    padding-left: 7%;
}

.header_right img {
    width: 75%;
}

.stl_button {
    text-decoration: none;
    background-image: linear-gradient(red, orange);
    padding: 10px 40px;
    border-radius: 5px;
    color: #fff;
    font-weight: 700;
}

.top_banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.half_width {
    width: 50%;
    padding-left: 7%;
}

.half_width img {
    width: 75%;
}

.half_width p {
    text-align: justify;
    padding-right: 7%;
}

.dream_big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experiance {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.experiance_item {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 40px gray;
    padding: 20px;
    border-radius: 10px;
    text-align: justify;
}

#full_stack_dev {
    border-left: 7px solid tomato;
}

#backend_dev {
    border-left: 7px solid blue;
}

footer p {
    text-align: center;
}