body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

.author_name {
    color: orange;
}

section {
    display: flex;
    margin-bottom: 150px;

}

.header_left {
    width: 50%;
    padding-left: 7%;
}

.header_left p {
    text-align: justify;
}

.header_right {
    width: 50%;
    padding-left: 7%;
}

.header_right img {
    width: 75%;
}

.stl_button {
    text-decoration: none;
    background-image: linear-gradient(red, orange);
    padding: 10px 40px;
    border-radius: 5px;
    color: #fff;
    font-weight: 700;
}

.top_banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream_half_width {
    width: 50%;
}

.dream_half_width img {
    width: 75%;
}

.dream_big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}